
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope';
}

body{
    width: 100%;
    margin: 0 auto;
    position: absolute;
}

.header{
    background: #003e6b;
    display: flex;
    justify-content: space-between;
    padding: 8px 72px;
    max-width: 1440px;
    margin: 0 auto;
}

.heder-left{
    display: flex;
    gap: 24px;
    align-items: center;
}

.header__location{
    display: flex;
    align-items: center;
    gap: 1px;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: #fff;
    cursor: pointer;
    transition: .4s;
}

.header__location:hover{
    opacity: .8;
}

.header__phone{
    font-weight: 700;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: -0.02em;
    color: #fff;
    cursor: pointer;
    transition: .4s;
    text-decoration: none;
}

.header__phone:hover{
    opacity: .8;
}

.header__request{
    font-weight: 700;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: -0.02em;
    color: #fff;
    cursor: pointer;
    transition: .4s;
}

.header__request:hover{
    opacity: .8;
}

.header-right{
    display: flex;
    gap: 24px;
}

.header__search{
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: #fff;
    cursor: pointer;
    transition: .4s;
}

.header__search:hover{
    opacity: .8;
}

.header__login{
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: #fff;
    cursor: pointer;
    transition: .4s;
}

.header__login:hover{
    opacity: .8;
}

.header-fixed{
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    padding: 32px 72px;
    max-width: 1440px;
    width: 100%;
}

.header-fixed__logo svg path{
    transition: .4s;
}

.header-fixed__logo:hover svg path{
    stroke: rgba(255, 255, 255, .8);
}

.header-fixed__nav{
    display: flex;
    gap: 40px;
}

.header-fixed__nav a{
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    color: #b2b2b2;
    transition: .4s;
    text-decoration: none;
}

.header-fixed__nav a:hover{
    color: #fff;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

.banner{
    background-image: url(./205cbfdc9aaebe0b24fe64a2afa6556114cac28a.png);
    width: 100%;
    background-repeat: no-repeat;
    height: 710px;
    padding: 180px 72px 142px 72px;;
}

.banner__container{
    display: flex;
    flex-direction: column;
}

.banner__container-tags{
    display: flex;
    gap: 8px;
}


.banner__container-tags div{
    font-weight: 600;
    font-size: 12px;
    line-height: 183%;
    text-align: center;
    display: flex;
    gap: 8px;
    background: rgba(57, 117, 254, 0.2);
    border-radius: 21px;
    padding: 6px 14px;
    color: white;
}

.banner__container-title{
    font-weight: 600;
    font-size: 64px;
    line-height: 110%;
    letter-spacing: -0.03em;
    color: white;
    margin-top: 24px;
}

.banner__container-subtitle{
    margin-top: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    color: #fff;
}

.banner__container-button{
    display: flex;
    gap: 16px;
    margin-top: 48px;
}

.banner__container-button a{
    border-radius: 16px;
    background: #3975fe;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.06em;
    text-align: center;
    color: #fff;
    padding: 17px 25px;
    text-decoration: none;
}

.banner__container-button div{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.06em;
    text-align: center;
    color: #fff;
    padding: 17px 40px;
    cursor: pointer;
}

.directions{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 72px;
}

.direction__subtitle{
    background: rgba(57, 117, 254, 0.2);
    border-radius: 21px;
    font-weight: 600;
    font-size: 12px;
    line-height: 183%;
    text-align: center;
    color: #003b67;
    padding: 6px 14px;
}

.directions__title{
    margin-top: 8px;
    font-weight: 600;
    font-size: 48px;
    line-height: 138%;
    letter-spacing: -0.04em;
    text-align: center;
    color: #003e6b;
}

.directions__description{
    margin-top: 12px;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-align: center;
    color: #003e6b;
}

.direction-big{
    display: flex;
    margin-top: 52px;
    gap: 24px;
    padding: 0 72px;
}

.direction-big-right,
.direction-big-left{
    border-radius: 12px;
    background: linear-gradient(47deg, #002c4b 0%, #003e6b 100%);
    padding: 32px 30px;
    min-height: 355px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.direction-big-right a,
.direction-big-left a{
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #f9fafc;
    text-decoration: none;
    transition: .4s;
    display: flex;
    align-items: center;
}

.direction-big__title{
    margin-top: auto;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.direction-big__description{
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.03em;
    color: #f9fafc;
    opacity: 0.7;
    margin-top: 12px;
}

.direction-small{
    margin-top: 24px;
    display: flex;
    gap: 24px;
    padding: 0 72px;
}

.direction-small__item{
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 24px;
    min-height: 444px;
    padding: 32px 30px;
    background: #f9fafc;
}


.direction-small__item a{
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #003459;
    display: flex;
    align-items: center;
}

.direction-small__title{
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #003053;
    margin-top: auto;
}

.direction-small__description{
    margin-top: 12px;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.03em;
    color: #94b1c7;
}

.guarantees{
    margin-top: 160px;
    display: flex;
    gap: 126px;
    padding: 0 72px;
}

.guarantees__about{
    min-width: 313px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
}

.guarantees__about div{
    border: 2px solid #5984f2;
    border-radius: 999px;
    padding: 6px 12px;
    display: flex;
    gap: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #003e6b;
    width: fit-content;
}

.guarantees__about a{
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #7196f4;
    text-decoration: none;
}

.guarantees__info{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.guarantees__info-title{
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    color: #003e6b;
}

.guarantees__info-title span{
    color: #94b1c7;
}

.guarantees__info-container{
    display: flex;
    justify-content: space-between;
}

.guarantees-info__container-item{
    display: flex;
    flex-direction: column;
}

.guarantees-info__container-item div{
    font-weight: 700;
    font-size: 20px;
    line-height: 160%;
    color: #003e6b;
    margin-top: 24px;
}

.guarantees-info__container-item span{
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #003e6b;
    margin-top: 8px;
}

.feedback{
    padding: 40px;
    margin: 180px 72px 0 72px;
    background: linear-gradient(
        180deg,
        rgba(57, 117, 254, 0.8) 0%,
        rgba(57, 117, 254, 1) 50%,
        rgba(57, 117, 254, 0.8) 100%
    );
    border-radius: 24px;
    display: flex;
    flex-direction: column;
}

.feedback-title{
    font-weight: 600;
    font-size: 52px;
    line-height: 92%;
    letter-spacing: -0.04em;
    color: #fff;
}

.feedback-list{
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.feedback-list__item{
    display: flex;
    gap: 6px;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, .7);
}

.feedback-input{
    display: flex;
    gap: 4px;
    margin-top: 51px;
}

.feedback-input input{
    border: 2px solid rgba(255, 255, 255, .4);
    border-radius: 18px;
    width: 200px;
    height: 60px;
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: -0.02em;
    color: #fff;
    padding: 18px;
    border-radius: 18px;
    background: none;
    outline: none;
}

.feedback-input input::placeholder{
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, .7);
}

.feedback-input input:active{
    outline: none;
}

.feedback-button{
    border-radius: 18px;
    background: #fff;
    padding: 19px;
    width: 608px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 148%;
    letter-spacing: -0.06em;
    text-align: center;
    color: #003e6b;
    cursor: pointer;
    margin-top: 20px;
}

.feedback-politics{
    font-weight: 500;
    font-size: 10px;
    line-height: 240%;
    letter-spacing: -0.02em;
    color: #fff;
    margin-top: 10px;
}

.technologies{
    margin-top: 160px;
    padding: 0 72px;
    display: flex;
    flex-direction: column;
}

.technologies-advantages{
    border: 2px solid #5984f2;
    border-radius: 999px;
    padding: 6px 12px;
    display: flex;
    gap: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #003e6b;
    width: fit-content;
    align-items: center;
}

.technologies-text{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    align-items: center;
}

.technologies-text__title{
    font-weight: 700;
    font-size: 48px;
    line-height: 117%;
    letter-spacing: -0.04em;
    color: #003e6b;
    width: 100%;
}

.technologies-text__description{
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: #003e6b;
    max-width: 400px;
}

.technologies-list{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin-top: 64px;
}

.technologies-list__item{
    display: flex;
    background: #f9fafc;
    border-radius: 12px;
    padding: 24px;
    flex-direction: column;
    flex: 1 0 32%;
    min-height: 230px;
}

.technologies-list__item-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: -0.04em;
    color: #003e6b;
    margin-top: auto;
}

.technologies-list__item-description{
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #003e6b;
    margin-top: 8px;
}

.dilers{
    margin-top: 160px;
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.dilers-advantages{
    border: 1px solid #003E6B;
    display: flex;
    gap: 6px;
    padding: 6px 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #003e6b;
    border-radius: 999px;
    width: fit-content;
    align-items: center;
    margin-left: 72px;
}

.dilers-gallery{
    overflow: hidden;
    width: 100%;
}

.dilers-gallery__track{
    display: flex;
    width: max-content;
    animation: scroll 15s linear infinite;
    align-items: center;
}

.dilers-gallery__track svg{
    margin-right: 30px;
    flex-shrink: 0;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.blogs{
    margin-top: 160px;
    padding: 0 72px;
    display: flex;
    flex-direction: column;
}

.blogs-advantages{
        border: 1px solid #003E6B;
    display: flex;
    gap: 6px;
    padding: 6px 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #003e6b;
    border-radius: 999px;
    width: fit-content;
    align-items: center;
}

.blogs-text{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    align-items: center;
}

.blogs-text__title{
    font-weight: 700;
    font-size: 48px;
    line-height: 117%;
    letter-spacing: -0.04em;
    color: #003e6b;
    width: 100%;
}

.blogs-text__description{
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: #003e6b;
    max-width: 400px;
}

.blogs-list{
    display: flex;
    gap:32px 24px;
    flex-wrap: wrap;
    margin-top: 64px;
}

.blogs-list__item{
    display: flex;
    flex-direction: column;
    width: 49%;
    text-decoration: none;
}

.blogs-list__item-img{
    border-radius: 24px;
    width: 636px;
    height: 355px;
}

.blogs-list__item-info{
    margin-top: 27px;
    display: flex;
    gap: 20px;
    align-items: center;
    width: fit-content;
}

.blogs-list__info-date{
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: rgba(0, 62, 107, .4);
}

.blogs-list__info-time{
    display: flex;
    gap: 4px;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: rgba(0, 62, 107, .4);
}

.blogs-list__item-title{
    margin-top: 12px;
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #003e6b;
    width: fit-content;
}

.blogs-more{
    margin: 32px auto 0 auto;
    border: 2px solid #3975fe;
    border-radius: 12px;
    padding: 19px 0;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 148%;
    letter-spacing: -0.06em;
    text-align: center;
    color: #003e6b;
    width: 400px;
    text-decoration: none;
}

.footer{
    margin: 120px auto 0;
    background: #003e6b;
    padding: 60px 72px 52px;
    display: flex;
    flex-direction: column;
    gap: 55px;
    max-width: 1440px;
}

.footer-top{
    display: flex;
    justify-content: space-between;
}

.footer-top__left{
    display: flex;
    flex-direction: column;
}

.footer-top__left-copyright{
    margin-top: 13px;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: rgba(255, 255, 255, .4);
}

.footer-top__left a:nth-child(3){
    margin-top: 42px;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

.footer-top__left a:nth-child(4){
    margin-top: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

.footer-top__right{
    display: flex;
    gap: 100px;
}

.footer-right__menu-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-right__menu-list a{
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: rgba(255, 255, 255, .6);
    text-decoration: none;
}

.footer-right__menu-list.big a{
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: #fff;
}

.footer-bottom{
    border-top: 1px solid #8098ca;
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom__left{
    display: flex;
    gap: 24px;
    align-items: center;
}

.footer-bottom__left a{
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    color: rgba(255, 255, 255, .6);
    text-decoration: none;
}

.footer-bottom__right{
    display: flex;
    gap: 12px;
    align-items: center;
}

.footer-bottom__right a:nth-child(1){
    display: flex;
    gap: 4px;
    border: 1px solid #9d9fa4;
    border-radius: 6px;
    padding: 5px 10px;
    align-items: center;
    font-weight: 500;
    font-size: 10px;
    line-height: 200%;
    color: #9d9fa4;
    text-decoration: none;
}
